img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

button#1 {
    border: 2px solid black;
    border-radius: 10px;
}
* {
    list-style: none;
    font-family: 'Permanent Marker', cursive;
    background-image: url(https://image.noelshack.com/fichiers/2018/14/5/1522985961-537ba702ad5b3.gif);
}
h1 {
color: white;
}
li {
    color: white;
    margin-left: 40px;
    
}
#display {
    border: 3px solid #007bff;
    background-color: #0022ff;
    border-radius: 20px;
    margin-left: 175px;
    padding-bottom: 40px;

}
#displayBad {
    border: 3px solid #dc3545;
    background-color: #fe1045;
    border-radius: 20px;
    margin-left: 200px;
    padding-bottom: 40px;
}
h1 {
    margin-left: 260px;
}
h2 {
    margin-left: 350px;
    color: white;
}
button {
margin: right 10px;
}
good.name {
  color: red;  
}
#G {
    text-align: center;
    margin-right: 40px;
    font-size: 18px;
}
#B {
    text-align: center;
    margin-right: 40px;
    font-size: 18px;
}

#battleScreen {
    display: none;
    width: 60%;
    height: 600px;
    border: 6px solid #f90;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
    background-color: red;
    color: white;
}

#winner {
    position: absolute;
    right: 26%;
    top: 20%; /* Valeur approximative, à optimiser correctement */
}
button, p {
    color: white;
    left: 30%;
    margin-left: 20px;
}
#BB {
   margin-right: 40px; 
}
.btn-danger {
margin: auto;
}
.btn-primary {
margin: auto;
}